.cart .table {
    margin-bottom: 30px;
    border-bottom: 1px solid white;
}

.cart .table thead tr th {
    border-top: 0;
    border-bottom: 0;
    font-size: 16px;
    font-weight: bold;
}

.cart .table thead tr td {
    padding-top: 30px;
    padding-bottom: 30px;
    vertical-align: middle;
    align-self: center;
}

.cart .table tbody tr td .main .d-flex {
    padding-right: 30px;
}

.cart .table tbody tr td .main .d-flex img {
    border: 2px solid black;
    border-radius: 7px;
}

.cart .table tbody tr td .main .description {
    vertical-align: middle;
    align-self: center;
}

.cart .table tbody tr td .main .description p {
    margin-bottom: 0px;
}

.cart .table tbody tr td h6 {
    font-size: 16px;
    color: black;
    margin-bottom: 0px;
}

.cart .table tbody tr td .counter {
    margin-bottom: 0px;
}

.counter i {
    border: 1px solid black;
    padding: 4px;
    display: inline-block;
    position: relative;
}

.cart .table tbody tr td .counter input {
    width: 50px;
    padding-left: 30px;
    height: 40px;
    outline: none;
    box-shadow: none;
}

.checkout ul {
    border: 2px solid whitesmoke;
    background: whitesmoke;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 16px;
    padding-bottom: 20px;
}

.checkout ul li {
    list-style: none;
    font-size: 16px;
    font-weight: bold;
    color: teal;
    text-transform: uppercase;
    overflow: hidden;
}

.checkout ul li.subtotal {
    font-weight: bold;
    text-transform: capitalize;
    border-bottom: 1px solid white;
    padding-bottom: 14px;
}

.checkout ul li.subtotal span {
    font-weight: bold;
}

.checkout ul li .cart-total {
    padding-top: 10px;
}

.checkout ul li .cart-total span {
    color: gold!important;
}

.checkout ul li span {
    float: right;
}

.checkout .proceed-btn {
    font-size: 15px;
    font-weight: bold;
    color: whitesmoke;
    background: teal;
    text-transform: uppercase;
    padding: 15px 25px 14px 25px;
    display: block;
    text-align: center;
}