* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-caption {
    position: absolute;
    top: 45%;
    transform: translateY(-80%);
    left: -8%;
    margin-right: 1000px;
}

.carousel-caption h1 {
    font-size: 80px;
    font-weight: bold;
    color: white
}


/*.carousel-caption p {
    color: black;
    font-weight: 600;
}*/

.btn0 {
    background-color: yellow;
    height: 45px;
    width: 150px;
    color: purple;
    outline: none;
    border: none;
}

.btn0:hover {
    background-color: green;
    color: black;
    transition: 0.4s;
    transform: translateY(20px)
}


/*   END OF CAROUSEL  */